icoClipboard ICON "img\clipboard.ico"
icoCopy ICON "img\copy.ico"
icoMail ICON "img\mail.ico"
icoOptions ICON "img\options.ico"
icoCmd ICON "img\cmd.ico"
icoPowershell ICON "img\powershell.ico"
icoExplorer ICON "img\explorer.ico"
icoCustomTool ICON "img\customtool.ico"
icoHash ICON "img\hash.ico"
